<a href="https://colab.research.google.com/github/Hemanthk408/store-dataset/blob/main/store_sales_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#File import and merge

In [1]:
import pandas as pd

In [ ]:
sale=pd.read_csv("/content/sales_data_set.csv")
store=pd.read_csv("/content/stores_data_set.csv")
feature=pd.read_csv("/content/Features_data_set.csv")

In [ ]:
store_sale=pd.merge(sale,store,on="Store")

In [ ]:
store_sale_feature=pd.merge(store_sale,feature,on=["Store","Date","IsHoliday"])

In [ ]:
store_sale_feature.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment'],
      dtype='object')

In [ ]:
ssf.to_csv("Merge.csv")

In [5]:
ssf=pd.read_csv("/content/Merge.csv")

In [6]:
ssf

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,0,1,1,05/02/2010,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,1,12/02/2010,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,2,1,1,19/02/2010,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,3,1,1,26/02/2010,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,4,1,1,05/03/2010,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,421565,45,98,28/09/2012,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,421566,45,98,05/10/2012,628.10,False,B,118221,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667
421567,421567,45,98,12/10/2012,1061.02,False,B,118221,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667
421568,421568,45,98,19/10/2012,760.01,False,B,118221,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667
421569,421569,45,98,26/10/2012,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [7]:
ssf.isnull().sum()

Unnamed: 0           0
Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Type                 0
Size                 0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
dtype: int64

In [ ]:
ssf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB

In [8]:
ssf.fillna(0,inplace=True)

In [ ]:
ssf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     421570 non-null  float64
 10  MarkDown2     421570 non-null  float64
 11  MarkDown3     421570 non-null  float64
 12  MarkDown4     421570 non-null  float64
 13  MarkDown5     421570 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB

In [42]:
df=ssf.copy()

In [43]:
df

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,0,1,1,05/02/2010,24924.50,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106
1,1,1,1,12/02/2010,46039.49,True,A,151315,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106
2,2,1,1,19/02/2010,41595.55,False,A,151315,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106
3,3,1,1,26/02/2010,19403.54,False,A,151315,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106
4,4,1,1,05/03/2010,21827.90,False,A,151315,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,421565,45,98,28/09/2012,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,421566,45,98,05/10/2012,628.10,False,B,118221,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,192.170412,8.667
421567,421567,45,98,12/10/2012,1061.02,False,B,118221,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,192.327265,8.667
421568,421568,45,98,19/10/2012,760.01,False,B,118221,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,192.330854,8.667
421569,421569,45,98,26/10/2012,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [44]:
df["Date"]=pd.to_datetime(df["Date"],format="%d/%m/%Y")

In [45]:
df["year"]=df["Date"].dt.year
df["month"]=df["Date"].dt.month
df["day"]=df["Date"].dt.day
df["day_of_week"]=df["Date"].dt.dayofweek
df["week"]=df["Date"].dt.isocalendar().week

In [46]:
df.drop("Date",axis=1,inplace=True)

In [14]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()

In [48]:
df1["IsHoliday"]=encoder.fit_transform(df[["IsHoliday"]])
df1["Type"]=encoder.fit_transform(df[["Type"]])

In [49]:
df1.corr()

,Unnamed: 0,Store,Dept,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,...,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,year,month,day,day_of_week,week
Unnamed: 0,1.000000,0.999198,0.045990,-0.082372,-0.000530,0.218448,-0.175516,-0.053526,0.068573,-0.057762,...,-0.019939,-0.041262,-0.012332,-0.218301,0.213702,0.003344,0.001078,-0.000019,NaN,0.001101
Store,0.999198,1.000000,0.024004,-0.085195,-0.000548,0.226410,-0.182881,-0.050097,0.065290,-0.059844,...,-0.020331,-0.042724,-0.012452,-0.211088,0.208552,0.002997,0.001011,-0.000015,NaN,0.001031
Dept,0.045990,0.024004,1.000000,0.148032,0.000916,0.003708,-0.002966,0.004437,0.003572,0.001494,...,0.001475,0.001937,0.002668,-0.007477,0.007837,0.003738,0.000904,-0.000678,NaN,0.000882
Weekly_Sales,-0.082372,-0.085195,0.148032,1.000000,0.012774,-0.182242,0.243828,-0.002312,-0.000120,0.047172,...,0.038562,0.037467,0.050465,-0.020921,-0.025864,-0.010111,0.028409,-0.006187,NaN,0.027673
IsHoliday,-0.000530,-0.000548,0.000916,0.012774,1.000000,-0.000798,0.000593,-0.155949,-0.078281,-0.003521,...,0.266471,0.011565,-0.015235,-0.001944,0.010460,-0.056746,0.123376,0.045465,NaN,0.128184
Type,0.218448,0.226410,0.003708,-0.182242,-0.000798,1.000000,-0.811593,0.042981,0.029687,-0.126345,...,-0.024013,-0.089770,-0.130125,-0.065812,0.148720,0.004208,-0.000069,0.000279,NaN,-0.000003
Size,-0.175516,-0.182881,-0.002966,0.243828,0.000593,-0.811593,1.000000,-0.058313,0.003361,0.169788,...,0.033641,0.127334,0.153011,-0.003314,-0.068238,-0.004975,-0.001210,-0.000386,NaN,-0.001292
Temperature,-0.053526,-0.050097,0.004437,-0.002312,-0.155949,0.042981,-0.058313,1.000000,0.143859,-0.026415,...,-0.056026,-0.050281,-0.014752,0.182112,0.096730,0.065814,0.235983,0.026832,NaN,0.236276
Fuel_Price,0.068573,0.065290,0.003572,-0.000120,-0.078281,0.029687,0.003361,0.143859,1.000000,0.297056,...,0.018615,0.166622,0.215420,-0.164210,-0.033853,0.779633,-0.040876,0.028058,NaN,-0.031140
MarkDown1,-0.057762,-0.059844,0.001494,0.047172,-0.003521,-0.126345,0.169788,-0.026415,0.297056,1.000000,...,-0.014411,0.838904,0.415050,0.010915,-0.105168,0.501044,-0.089206,-0.126187,NaN,-0.093572
MarkDown2,-0.033176,-0.033829,0.000587,0.020716,0.207604,-0.055318,0.078372,-0.179672,0.029153,0.174868,...,-0.006080,0.113250,0.131735,-0.003554,-0.041427,0.131867,-0.019360,0.051971,NaN,-0.012812
MarkDown3,-0.019939,-0.020331,0.001475,0.038562,0.266471,-0.024013,0.033641,-0.056026,0.018615,-0.014411,...,1.000000,-0.012020,0.042471,-0.005839,-0.018078,0.006789,0.116031,0.072156,NaN,0.122323
MarkDown4,-0.041262,-0.042724,0.001937,0.037467,0.011565,-0.089770,0.127334,-0.050281,0.166622,0.838904,...,-0.012020,1.000000,0.303370,-0.002047,-0.076513,0.335340,-0.105569,-0.152753,NaN,-0.114168
MarkDown5,-0.012332,-0.012452,0.002668,0.050465,-0.015235,-0.130125,0.153011,-0.014752,0.215420,0.415050,...,0.042471,0.303370,1.000000,0.067906,-0.120406,0.402964,0.055770,-0.055893,NaN,0.055737
CPI,-0.218301,-0.211088,-0.007477,-0.020921,-0.001944,-0.065812,-0.003314,0.182112,-0.164210,0.010915,...,-0.005839,-0.002047,0.067906,1.000000,-0.299953,0.074544,0.005282,0.002744,NaN,0.006342
Unemployment,0.213702,0.208552,0.007837,-0.025864,0.010460,0.148720,-0.068238,0.096730,-0.033853,-0.105168,...,-0.018078,-0.076513,-0.120406,-0.299953,1.000000,-0.237161,-0.012444,-0.003793,NaN,-0.015490
year,0.003344,0.002997,0.003738,-0.010111,-0.056746,0.004208,-0.004975,0.065814,0.779633,0.501044,...,0.006789,0.335340,0.402964,0.074544,-0.237161,1.000000,-0.194288,0.005835,NaN,-0.181797
month,0.001078,0.001011,0.000904,0.028409,0.123376,-0.000069,-0.001210,0.235983,-0.040876,-0.089206,...,0.116031,-0.105569,0.055770,0.005282,-0.012444,-0.194288,1.000000,0.016363,NaN,0.995999
day,-0.000019,-0.000015,-0.000678,-0.006187,0.045465,0.000279,-0.000386,0.026832,0.028058,-0.126187,...,0.072156,-0.152753,-0.055893,0.002744,-0.003793,0.005835,0.016363,1.000000,NaN,0.104719
day_of_week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week,0.001101,0.001031,0.000882,0.027673,0.128184,-0.000003,-0.001292,0.236276,-0.031140,-0.093572,...,0.122323,-0.114168,0.055737,0.006342,-0.015490,-0.181797,0.995999,0.104719,NaN,1.000000

In [51]:
continues=['Weekly_Sales','Temperature','Size','Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3','MarkDown4', 'MarkDown5', 'CPI', 'Unemployment','year']
categories=['Store', 'Dept','IsHoliday', 'Type','month', 'day','day_of_week', 'week']

In [52]:
from scipy import stats

def two_sample(d1,d2):
  t=0
  f=0
  for i in  range(31):
    sample1=d1.sample(frac=0.03)
    sample2=d2.sample(frac=0.03)
    t_test,p_value=stats.ttest_ind(sample1,sample2)
    if p_value < 0.055:
      f=f+1
    else:
      t=t+1
  if t>f:
    return True
  else:
    return False

#defining function for categories vs categories
def chisqare_cat_vs_cat(d1,d2):
  return True if stats.chi2_contingency(pd.crosstab(d1,d2))[1] < 0.055 else False

def annova_test(d1,d2):
  group=df[d2].unique()
  data={}
  for i in group:
    data[i]=df[d1][df[d2]==i]
  f_value,p_value=stats.f_oneway(*[i for i in data.values()])
  if p_value < 0.055:
    return False
  else:
    return True

final={}
for i in df.columns:
  final[i]={}
  for j in df.columns:
    if (i in continues) and (j in continues):
      result=two_sample(df[i],df[j])
    elif  (i in continues) and (j in categories):
      result=annova_test(i,j)
    elif (i in categories) and (j in continues):
      result=annova_test(j,i)
    elif (i in categories) and (j in categories):
      result=chisqare_cat_vs_cat(df[i],df[j])
    if result:
      final[i][j]=1
    else:
      final[i][j]=0

/usr/local/lib/python3.11/dist-packages/scipy/stats/_axis_nan_policy.py:531: ConstantInputWarning: Each of the input arrays is constant; the F statistic is not defined or infinite
  res = hypotest_fun_out(*samples, **kwds)

TypeError: at least two inputs are required; got 1.

In [27]:
import seaborn as sns

In [28]:
df=pd.DataFrame(final)

In [33]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import kurtosis
from scipy.stats import norm

In [37]:
for i in df.columns:                                   #skew -0.5 to 0.5 and kurtosis -3 to 3
  print(i,kurtosis(df[i]),df[i].skew())

Unnamed: 0 nan 0.0
Store nan 0.0
Dept nan 0.0
Weekly_Sales nan 0.0
IsHoliday nan 0.0
Type nan 0.0
Size nan 0.0
Temperature nan 0.0
Fuel_Price nan 0.0
MarkDown1 nan 0.0
MarkDown2 nan 0.0
MarkDown3 nan 0.0
MarkDown4 nan 0.0
MarkDown5 nan 0.0
CPI nan 0.0
Unemployment nan 0.0
year nan 0.0
month nan 0.0
day nan 0.0
day_of_week nan 0.0
week nan 0.0

In [38]:
for i in continues:
  print(i,kurtosis(df[i]),df[i].skew())

Weekly_Sales nan 0.0
Temperature nan 0.0
Size nan 0.0
Fuel_Price nan 0.0
MarkDown1 nan 0.0
MarkDown2 nan 0.0
MarkDown3 nan 0.0
MarkDown4 nan 0.0
MarkDown5 nan 0.0
CPI nan 0.0
Unemployment nan 0.0
year nan 0.0

In [ ]:
ssf[ssf[i]==0]

Empty DataFrame
Columns: [Store, Dept, Date, Weekly_Sales, IsHoliday, Type, Size, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment]
Index: []

In [ ]:
continues

['Weekly_Sales',
 'Size',
 'Temperature',
 'Fuel_Price',
 'MarkDown1',
 'MarkDown2',
 'MarkDown3',
 'MarkDown4',
 'MarkDown5',
 'CPI',
 'Unemployment']

In [ ]:
df.drop(df.loc[df["km"]==0].index,inplace=True)

In [ ]:
ssf.drop(ssf.loc[ssf["Weekly_Sales"]==0].index,inplace=True)

In [ ]:
ssf[ssf["Weekly_Sales"]==0].drop("Weekly_Sales",axis=1)

Empty DataFrame
Columns: [Store, Dept, Date, IsHoliday, Type, Size, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment]
Index: []

In [ ]:
data=['Weekly_Sales', 'Size','Temperature','Fuel_Price','CPI', 'Unemployment']             #kurtosis   -3 to 3
from scipy import stats         #skew       -1 to 1
method=[0,0.5,-0.5,1,-1,2,-2]
for i in method:
  for j in data:
    print(i,j)
    print("-----------------------------------")
    print("skewness",pd.DataFrame(stats.boxcox(df[j],lmbda=i)).skew().values,"kurtosis",pd.DataFrame(stats.boxcox(df[j],lmbda=i)).kurtosis().values)

0 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
0 Size
-----------------------------------
skewness [nan] kurtosis [nan]
0 Temperature
-----------------------------------
skewness [nan] kurtosis [nan]
0 Fuel_Price
-----------------------------------
skewness [nan] kurtosis [nan]
0 CPI
-----------------------------------
skewness [nan] kurtosis [nan]
0 Unemployment
-----------------------------------
skewness [nan] kurtosis [nan]
0.5 Weekly_Sales
-----------------------------------
skewness [4.47213595] kurtosis [20.]
0.5 Size
-----------------------------------
skewness [2.12305987] kurtosis [2.77585544]
0.5 Temperature
-----------------------------------
skewness [4.47213595] kurtosis [20.]
0.5 Fuel_Price
-----------------------------------
skewness [4.47213595] kurtosis [20.]
0.5 CPI
-----------------------------------
skewness [2.88793907] kurtosis [7.03703704]
0.5 Unemployment
-----------------------------------
skewness [1.2505143] kurtosis [-0.49673203]
-0.5 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
-0.5 Size
-----------------------------------
skewness [nan] kurtosis [nan]
-0.5 Temperature
-----------------------------------
skewness [nan] kurtosis [nan]
-0.5 Fuel_Price
-----------------------------------
skewness [nan] kurtosis [nan]
-0.5 CPI
-----------------------------------
skewness [nan] kurtosis [nan]
-0.5 Unemployment
-----------------------------------
skewness [nan] kurtosis [nan]
1 Weekly_Sales
-----------------------------------
skewness [4.47213595] kurtosis [20.]
1 Size
-----------------------------------
skewness [2.12305987] kurtosis [2.77585544]
1 Temperature
-----------------------------------
skewness [4.47213595] kurtosis [20.]
1 Fuel_Price
-----------------------------------
skewness [4.47213595] kurtosis [20.]
1 CPI
-----------------------------------
skewness [2.88793907] kurtosis [7.03703704]
1 Unemployment
-----------------------------------
skewness [1.2505143] kurtosis [-0.49673203]
-1 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
-1 Size
-----------------------------------
skewness [nan] kurtosis [nan]
-1 Temperature
-----------------------------------
skewness [nan] kurtosis [nan]
-1 Fuel_Price
-----------------------------------
skewness [nan] kurtosis [nan]
-1 CPI
-----------------------------------
skewness [nan] kurtosis [nan]
-1 Unemployment
-----------------------------------
skewness [nan] kurtosis [nan]
2 Weekly_Sales
-----------------------------------
skewness [4.47213595] kurtosis [20.]
2 Size
-----------------------------------
skewness [2.12305987] kurtosis [2.77585544]
2 Temperature
-----------------------------------
skewness [4.47213595] kurtosis [20.]
2 Fuel_Price
-----------------------------------
skewness [4.47213595] kurtosis [20.]
2 CPI
-----------------------------------
skewness [2.88793907] kurtosis [7.03703704]
2 Unemployment
-----------------------------------
skewness [1.2505143] kurtosis [-0.49673203]
-2 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
-2 Size
-----------------------------------
skewness [nan] kurtosis [nan]
-2 Temperature
-----------------------------------
skewness [nan] kurtosis [nan]
-2 Fuel_Price
-----------------------------------
skewness [nan] kurtosis [nan]
-2 CPI
-----------------------------------
skewness [nan] kurtosis [nan]
-2 Unemployment
-----------------------------------
skewness [nan] kurtosis [nan]