<a href="https://colab.research.google.com/github/Hemanthk408/store-dataset/blob/main/store_sales_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
sale=pd.read_csv("/content/sales_data_set.csv")
store=pd.read_csv("/content/stores_data_set.csv")
feature=pd.read_csv("/content/Features_data_set.csv")

<ipython-input-2-017738341ec8>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  sale=pd.read_csv("/content/sales_data_set.csv")

In [17]:
store.value_counts().sum(),

(45,)

In [18]:
sale.value_counts().sum(),

(200759,)

In [19]:
feature.value_counts().sum()

2069

In [3]:
store_sale=pd.merge(sale,store,on="Store")

In [4]:
store_sale.columns,feature.columns

(Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size'], dtype='object'),
 Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
        'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
        'IsHoliday'],
       dtype='object'))

In [5]:
store_sale_feature=pd.merge(store_sale,feature,on=["Store","Date","IsHoliday"])

In [6]:
store_sale_feature.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment'],
      dtype='object')

In [7]:
ssf=store_sale_feature.copy()

In [8]:
ssf

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200754,21,24,23/12/2011,19541.73,False,B,140167,46.54,3.112,759.80,6.92,577.46,29.81,2830.92,218.999550,7.441
200755,21,24,30/12/2011,8080.37,True,B,140167,45.16,3.129,2880.59,32642.96,124.32,419.61,3010.84,219.177306,7.441
200756,21,24,06/01/2012,4628.94,False,B,140167,48.10,3.157,2211.62,28369.34,7.74,753.62,3371.85,219.355063,7.057
200757,21,24,13/01/2012,4638.03,False,B,140167,45.00,3.261,4873.12,13367.98,0.46,396.66,1861.16,219.532820,7.057
200758,21,24,20/01/2012,4346.55,False,B,140167,52.21,3.268,4436.00,1092.91,3.46,387.92,3943.31,219.625842,7.057

In [9]:
ssf.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Type                 0
Size                 0
Temperature          0
Fuel_Price           0
MarkDown1       128765
MarkDown2       143629
MarkDown3       133844
MarkDown4       129435
MarkDown5       128765
CPI                  0
Unemployment         0
dtype: int64

In [10]:
ssf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200759 entries, 0 to 200758
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         200759 non-null  int64
 1   Dept          200759 non-null  int64
 2   Date          200759 non-null  object
 3   Weekly_Sales  200759 non-null  float64
 4   IsHoliday     200759 non-null  object
 5   Type          200759 non-null  object
 6   Size          200759 non-null  int64
 7   Temperature   200759 non-null  float64
 8   Fuel_Price    200759 non-null  float64
 9   MarkDown1     71994 non-null   float64
 10  MarkDown2     57130 non-null   float64
 11  MarkDown3     66915 non-null   float64
 12  MarkDown4     71324 non-null   float64
 13  MarkDown5     71994 non-null   float64
 14  CPI           200759 non-null  float64
 15  Unemployment  200759 non-null  float64
dtypes: float64(10), int64(3), object(3)
memory usage: 24.5+ MB

In [11]:
ssf.fillna(0,inplace=True)

In [12]:
ssf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200759 entries, 0 to 200758
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         200759 non-null  int64
 1   Dept          200759 non-null  int64
 2   Date          200759 non-null  object
 3   Weekly_Sales  200759 non-null  float64
 4   IsHoliday     200759 non-null  object
 5   Type          200759 non-null  object
 6   Size          200759 non-null  int64
 7   Temperature   200759 non-null  float64
 8   Fuel_Price    200759 non-null  float64
 9   MarkDown1     200759 non-null  float64
 10  MarkDown2     200759 non-null  float64
 11  MarkDown3     200759 non-null  float64
 12  MarkDown4     200759 non-null  float64
 13  MarkDown5     200759 non-null  float64
 14  CPI           200759 non-null  float64
 15  Unemployment  200759 non-null  float64
dtypes: float64(10), int64(3), object(3)
memory usage: 24.5+ MB

In [22]:
final=ssf.copy()

In [23]:
final

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,A,151315,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,A,151315,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,A,151315,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,A,151315,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200754,21,24,23/12/2011,19541.73,False,B,140167,46.54,3.112,759.80,6.92,577.46,29.81,2830.92,218.999550,7.441
200755,21,24,30/12/2011,8080.37,True,B,140167,45.16,3.129,2880.59,32642.96,124.32,419.61,3010.84,219.177306,7.441
200756,21,24,06/01/2012,4628.94,False,B,140167,48.10,3.157,2211.62,28369.34,7.74,753.62,3371.85,219.355063,7.057
200757,21,24,13/01/2012,4638.03,False,B,140167,45.00,3.261,4873.12,13367.98,0.46,396.66,1861.16,219.532820,7.057
200758,21,24,20/01/2012,4346.55,False,B,140167,52.21,3.268,4436.00,1092.91,3.46,387.92,3943.31,219.625842,7.057

In [24]:
final["Date"]=pd.to_datetime(final["Date"],format="%d/%m/%Y")

In [ ]:
final["Year"]= final["Date"].dt.year
final["Month"]= final["Date"].dt.month
final["Day"]= final["Date"].dt.day
final["Day_of_week"] = final["Date"].dt.dayofweek
final["Week"]= final["Date"].dt.isocalendar().week